.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background: linear-gradient(to right, #E0E7FF, #E9D5FF, #BAE6FD);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  z-index: 10;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0rem;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.logo-img {
  height: 55px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding-left: 9px;
}

.title {
  font-size: 2rem;
  font-weight: 550;
  color: #4F46E5;
  margin: 0;
  padding-left: -7px; 
  line-height: 1;
  cursor:pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}

.link {
  text-decoration: none;
  color: #374151;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.link:hover {
  color: #111827;
}

.doc-button {
  background-color: #4d94ff;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 9999px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.doc-button:hover {
  background-color: #003d99;
}

.get-started {
  background-color:#7C3AED;
  color: white;
  padding: 12px 30px;
  font-size: 0.9rem;
  border-radius: 9999px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.get-started:hover {
  background-color: #6D28D9;
}
media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 16px;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    width: 100%;
    margin-top: 0.75rem;
  }

  .doc-button, .get-started {
    width: 100%;
    text-align: center;
  }
}
